@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@font-face {
	font-family: 'Myriad Pro Cond';
	src: url('fonts/MyriadPro-Cond.eot');
	src: local('☺'), url('/fonts/MyriadPro-Cond.woff') format('woff'), url('/fonts/MyriadPro-Cond.ttf') format('truetype'), url('/fonts/MyriadPro-Cond.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('/fonts/MyriadPro-Regular.woff') format('woff'), url('/fonts/MyriadPro-Regular.ttf') format('truetype'), url('/fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}