/*==================================== MEDIA ====================================*/

/*------------------------------------ 1000 -------------------------------------*/


@media (max-width: 1000px) {
	.header {
		padding-top: 100px;

		&__button {
			margin-top: 80px;
		}
	}

	.about {
		&__menu {
			margin-bottom: 40px;
		}
	}

	.portfolio {
		padding-top: 60px;

		&__line {
			margin-bottom: 30px;
		}

		&__menu {
			margin-bottom: 30px;
		}

		&__filter-box {
			margin-bottom: 60px;
		}
	}

	.contact {
		padding-top: 80px;
	}

}

/*------------------------------ 800 ------------------------------*/

@media (max-width: 800px) {
	.about {
		padding-bottom: 40px;

		&__row {
			flex-wrap: wrap;
			max-width: 800px;
			justify-content: center;
		}

		&__column {
			justify-self: center;
			margin-bottom: 40px;

		}

		&__column:last-child {
			margin-bottom: 0;
		}
	}

	.item-about {
		width: 230px;
	}

	.portfolio {
		&__grid {
			grid-template: repeat(6, 1fr) / 1fr;
		}
	}

	.contact {
		&__line {
			margin-bottom: 50px;
		}
	}
}

/*------------------------------ 700 ------------------------------*/

@media (max-width: 700px) {
	.contact {
		&__row {
			max-width: 400px;
			margin: 0 auto;
			flex-direction: column;
		}

		&__send-button {
			margin-top: 20px;
			margin-bottom: 30px;
		}

		&__form {
			flex-direction: column;
			margin-right: 0;
		}

		&__form-row {
			flex-direction: column;
		}

		&__input-name {
			margin: 0;
			margin-top: 18px;
		}

		&__input {
			margin-bottom: 30px;
			width: 100%;
		}

		&__info {
			margin-left: 0;
		}
	}
}





/*------------------------------ 440 ------------------------------*/

@media (max-width: 440px) {
	.header {
		&__button {
			margin: 40px auto;
		}

		&__arrow {
			padding-bottom: 50px;
		}
	}

	.about {
		&__list {
			flex-direction: column;
		}

		&__item {
			margin-bottom: 30px;
		}

		&__item:last-child {
			margin-bottom: 0px;
		}
	}

	.partners {
		&__row {
			display: grid;
			grid-template: repeat(2, 1fr) / repeat(2, 1fr);
			justify-items: center;
			align-items: center;
			row-gap: 40px;
		}
	}

	.contact {
		&__form {
			max-width: none;
		}
	}
}

/*------------------------------ 340 ------------------------------*/

@media (max-width: 340px) {
	.partners {
		&__row {
			display: flex;
			flex-direction: column;
		}
	}

	.footer {
		&__menu {
			flex-direction: column;

			a {
				margin-bottom: 20px;
			}
		}
	}
}